* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.block {
  width: 300px;
  height: 250px;
  background: rgb(255, 255, 255);

  box-shadow: 4px 4px 10px rgb(200, 200, 200), -4px -4px 10px rgb(200, 200, 200),
    -4px -4px 10px rgb(200, 200, 200), 4px 4px 10px rgb(200, 200, 200);
  border-radius: 10px;
  padding: 5px;
  margin: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.block * {
  padding: 0 10px;
}
.block h2 {
  font-size: 20px;
  padding-bottom: 20px;
}

.converter {
  display: flex;
  justify-content: space-around;
}
.converter__input {
  margin-right: 10px;
}
